{% extends "base.html" %}

{% block content %}
    <main>
        <div class="container">
            <div class="row">
                <div class="col-12 ">
                    <div class="text-center" style="margin-top: 100px;">
                        <h1>About page</h1>

                        <div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam euismod erat imperdiet sem
                                aliquet, sed posuere augue finibus. Praesent lacinia vehicula accumsan. Suspendisse
                                ullamcorper est quis mauris tempor ornare. Cras lorem metus, placerat non commodo
                                pharetra, pretium in velit. Morbi luctus tempor lorem, eget hendrerit turpis ullamcorper
                                eu. Mauris bibendum eros urna, sit amet pharetra quam consequat ac. Ut eget lacinia
                                augue. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos
                                himenaeos. Vivamus venenatis dui ac aliquam sollicitudin. Maecenas pulvinar tempus purus
                                a laoreet. Ut eu elit tristique, ultricies sem semper, dignissim orci. Morbi imperdiet
                                est aliquet justo commodo iaculis. In aliquet neque interdum, commodo elit vitae,
                                dignissim turpis.
                            </p>

                            <p>
                                Suspendisse elementum pretium sapien, ac euismod tortor elementum tincidunt. Vivamus ac
                                purus congue, commodo lorem ac, luctus lectus. Mauris mi justo, bibendum egestas
                                tincidunt nec, luctus a sapien. Nunc venenatis ac mauris id aliquet. Vivamus accumsan
                                lorem elit, non posuere ligula egestas pretium. Aliquam erat volutpat. Nam consectetur
                                ex quis neque blandit tincidunt. Etiam sodales accumsan lectus et varius. Praesent
                                rhoncus eget justo in convallis. Nullam imperdiet facilisis lacus ac tempus. Donec
                                hendrerit accumsan tortor, non suscipit libero congue viverra. Sed dignissim nisl nisi.
                                In nulla lorem, interdum sit amet sollicitudin nec, consequat a risus.

                                Morbi non nisi quis erat mattis semper nec et metus. Duis in fringilla augue, et commodo
                                orci. Fusce tincidunt eleifend leo pretium dignissim. Donec tristique vulputate
                                vehicula. Vestibulum in massa porta, aliquet augue vitae, dictum libero. Nam bibendum in
                                erat sit amet porttitor. Suspendisse vehicula laoreet dui sit amet blandit.
                            </p>

                            <p>
                                Sed et nisi consectetur mauris commodo viverra interdum id est. Nunc placerat iaculis
                                ante, in ultricies mi egestas eget. Integer et urna dui. Praesent scelerisque tempus
                                velit. Praesent condimentum vel sapien quis porta. Cras maximus eget purus nec
                                venenatis. Sed arcu urna, rhoncus quis ex id, semper luctus lorem. Cras faucibus urna id
                                vehicula ultrices. Sed lacinia turpis nunc, ac vulputate nulla vehicula a. Donec eget
                                pretium tellus. Nunc quam nibh, mollis eu varius tincidunt, pharetra id diam. Sed
                                gravida euismod massa. Vivamus vulputate, tortor in fermentum hendrerit, ipsum leo
                                cursus urna, at tristique justo ligula non turpis. Etiam posuere tincidunt ligula,
                                aliquam tempor erat consequat vel. Aenean at nisi magna.

                                Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae;
                                In feugiat varius varius. Morbi varius aliquam vulputate. Ut ex tellus, porttitor quis
                                erat a, tincidunt venenatis arcu. Nunc eget pretium lectus. Aenean cursus libero sit
                                amet neque gravida consequat. Vestibulum ante ipsum primis in faucibus orci luctus et
                                ultrices posuere cubilia curae; Donec eleifend aliquam tortor ac porta. Sed augue
                                mauris, lacinia eget risus a, consequat congue velit. Suspendisse vehicula, tellus non
                                euismod pharetra, orci ante gravida risus, id laoreet massa quam a ipsum. Suspendisse
                                venenatis condimentum est. Duis varius semper tortor, et volutpat sem vehicula eu.
                                Pellentesque porttitor vitae magna et sodales. Ut gravida nibh vel convallis eleifend.
                                Mauris placerat, ligula eget dapibus tempor, nibh nulla egestas enim, non congue odio
                                enim eu metus.
                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </main>
{% endblock %}
