{% extends "base.html" %}
{% load i18n static %}


{% block content %}
    <main>
        <div class="container mt-4 mb-2">
            <div class="row">
                <div class="col-12 text-center">
                    <h2>{% trans 'Register' %}</h2>
                </div>
            </div>
            <div class="row">
                <div class="offset-2 col-8">

                    {% for message in messages %}
                        <div class="alert alert-{{ message.level_tag }}" role="alert">{{ message }}</div>
                    {% endfor %}

                </div>
            </div>
            <div class="row">
                <div class="col-8 offset-2">
                    <form method="post" action="{% url 'signup_page' %}">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="first_name">{% trans 'First name' %}</label>
                            <input type="text" class="form-control" id="first_name" name="first_name" placeholder="John" required {% if form.cleaned_data.first_name %}value="{{ form.cleaned_data.first_name }}"{% endif %}>
                        </div>
                        <div class="form-group">
                            <label for="last_name">{% trans 'Last name' %}</label>
                            <input type="text" class="form-control" id="last_name" name="last_name" placeholder="Doe" required {% if form.cleaned_data.last_name %}value="{{ form.cleaned_data.last_name }}"{% endif %}>
                        </div>
                        <div class="form-group">
                            <label for="department">{% trans 'Department' %}</label>
                            <input type="text" class="form-control" id="department" placeholder="" name="department" required {% if form.cleaned_data.department %}value="{{ form.cleaned_data.department }}"{% endif %}>
                        </div>
                        <div class="form-group">
                            <label for="email">{% trans 'E-mail' %}</label>
                            <input type="email" class="form-control" id="email" placeholder="name@example.com" name="email" required {% if form.cleaned_data.email %}value="{{ form.cleaned_data.email }}"{% endif %}>
                        </div>
                        <div class="form-group">
                            <label for="password1">{% trans 'Password' %}</label>
                            <input type="password" class="form-control" id="password1" name="password1" placeholder="******" required>
                        </div>
                        <div class="form-group">
                            <label for="password2">{% trans 'Confirm password' %}</label>
                            <input type="password" class="form-control" id="password2" name="password2" placeholder="******" required>
                        </div>
                        <div class="form-group text-right">
                            <input type="submit" class="btn btn-info" value="Log in">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
