{% extends "base.html" %}
{% load i18n static %}


{% block content %}
    <main>
        <div class="container mt-4 mb-2">
            <div class="row">
                <div class="col-12 text-center">
                    <h2>{% trans 'Profile Information' %}</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-8 offset-2">
                    <form method="post" action="{% url 'account' %}">
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputFirstName">First name</label>
                                <input type="text" name="first_name" class="form-control" id="inputFirstName" required
                                       value="{{ user.first_name }}">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputLastName">Last name</label>
                                <input type="text" name="last_name" class="form-control" id="inputLastName" required
                                       value="{{ user.last_name }}">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputDepartment">Department</label>
                                <input type="text" name="department" class="form-control" id="inputDepartment"
                                       required value="{{ user.department }}">
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </form>
                    <br>
                    <button class="btn btn-danger" id="delete_account">Delete account</button>
                </div>
            </div>
        </div>
    </main>

    <script>
    document.querySelector("#delete_account").addEventListener("click", function (e){
        e.preventDefault();
        const confirmed = confirm("Do you really want to delete your account?");

        if (confirmed) {
            window.location="{% url 'delete_account' %}"
        }
    })
    </script>
{% endblock %}
