{% extends "base.html" %}
{% load i18n static %}


{% block content %}
    <main>
        <div class="container mt-4 mb-2">
            <div class="row">
                <div class="offset-4 col-md-4 text-center">
                    <h2>{% trans 'Change password' %}</h2>
                </div>
            </div>
            <div class="row">
                <div class="offset-2 col-8">

                    {% for message in messages %}
                        <div class="alert alert-{{ message.level_tag }}" role="alert">{{ message }}</div>
                    {% endfor %}

                </div>
            </div>
            <div class="row">
                <div class="col-8 offset-2">
                    <form method="post" action="{% url 'change_password' %}">
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="form-group offset-3 col-md-6">
                                <label for="current_password">Current password</label>
                                <input type="password" name="current_password" class="form-control" id="current_password" required value="{{ user.current_password }}">
                            </div>
                        </div>
                        <div class="form-group offset-3 col-md-6">
                            <hr>
                        </div>
                        <div class="form-row">
                            <div class="form-group offset-3 col-md-6">
                                <label for="new_password">New password</label>
                                <input type="password" name="new_password" class="form-control" id="new_password" required value="{{ user.new_password }}">
                            </div>
                            <div class="form-group offset-3 col-md-6">
                                <label for="confirm_password">Confirm new password</label>
                                <input type="password" name="confirm_password" class="form-control" id="confirm_password" required value="{{ user.confirm_password }}">
                            </div>
                        </div>

                        <div class="form-group offset-3 col-md-6">
                            <button type="submit" class="btn btn-primary d-block w-100">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>

    <script>
    document.querySelector("#delete_account").addEventListener("click", function (e){
        e.preventDefault();
        const confirmed = confirm("Are you sure to delete account");

        if (confirmed) {
            window.location="{% url 'delete_account' %}"
        }
    })
    </script>
{% endblock %}
