{% extends "base.html" %}
{% load i18n static app_tags %}

{% block content %}
    <div class="container">
        {% if has_access %}
            <div class="row">
                <div class="col-12">
                    <div>
                        <table class="table table-striped my-3">
                            <thead>
                            <tr>
                                <th scope="col">id</th>
                                <th scope="col">name</th>
                                <th scope="col">rank</th>
                                <th scope="col">quantity</th>
                                <th scope="col">verified</th>
                                <th scope="col">category</th>
{#                                <th scope="col">updated_at</th>#}
{#                                <th scope="col">created_at</th>#}
                                <th scope="col">Favourites</th>
                                <th scope="col">Samples</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>{{ item.id }}</td>
                                <td>{{ item.name }}</td>
                                <td>{{ item.rank }}</td>
                                <td>{{ item.quantity }}</td>
                                <td>{{ item.verified }}</td>
                                <td>{{ item.category|display_cats }}</td>
{#                                <td>{{ item.updated_at }}</td>#}
{#                                <td>{{ item.created_at }}</td>#}
                                <td>
                                    {% with request.user.favourite_set.all|get_favourites as favourites %}
                                        {% if item not in favourites %}
                                            <form action="{% url 'profile_item' item.id %}" method="post">
                                                {% csrf_token %}

                                                <input type="hidden" name="user" id="id_user"
                                                       value="{{ request.user.id }}" required>
                                                <input type="hidden" name="item" id="id_item" value="{{ item.id }}"
                                                       required>
                                                <input type="hidden" name="action" value="add_comment">

                                                <button class="btn btn-success" type="submit"><i class="fa fa-plus"></i>
                                                </button>
                                                <input type="text" name="comment" id="id_comment"
                                                       placeholder="{% trans 'comments here' %}"
                                                       class="form-control d-inline-block align-middle"
                                                       style="width: auto;">
                                            </form>
                                        {% endif %}
                                    {% endwith %}
                                </td>
                                <td>
                                    <table class="table table-striped my-3">
                                        {#                                            <thead>#}
                                        {#                                            <tr>#}
                                        {#                                                <th scope="col">name</th>#}
                                        {#                                                <th scope="col">text</th>#}
                                        {#                                            </tr>#}
                                        {#                                            </thead>#}
                                        <tbody>
                                        {% for bullet in item.sample_set.all %}
                                            <tr>
                                                <td>{{ bullet.name }}</td>
                                                <td>{{ bullet.text }}</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-6">
                    <div>
                        <div class="pagination">
                            {% if items.has_other_pages %}
                                <ul class="pagination">
                                    {% if items.has_previous %}
                                        <li><a href="?page={{ items.previous_page_number }}">&laquo;</a></li>
                                    {% else %}
                                        <li class="disabled"><span>&laquo;</span></li>
                                    {% endif %}
                                    {% for i in items.paginator.page_range %}
                                        {% if items.number == i %}
                                            <li class="active"><span>{{ i }} <span
                                                    class="sr-only">(current)</span></span></li>
                                        {% else %}
                                            <li><a href="?page={{ i }}">{{ i }}</a></li>
                                        {% endif %}
                                    {% endfor %}
                                    {% if items.has_next %}
                                        <li><a href="?page={{ items.next_page_number }}">&raquo;</a></li>
                                    {% else %}
                                        <li class="disabled"><span>&raquo;</span></li>
                                    {% endif %}
                                </ul>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            <h3 style="text-align: center; margin-top: 40px;">Sorry, you dont have access to Items</h3>
        {% endif %}
    </div>
{% endblock %}
