{% extends "base.html" %}
{% load i18n static app_tags %}
{% load mptt_tags %}

{% block content %}
    <div class="container">
        {% if has_access %}
            <br>
            <div class="row">
                <div class="col-12">
                    <form class="form-inline justify-content-around align-items-start" method="get"
                          action="{% url 'item' %}">

                        <div>
                            <h5>Quantity:</h5>
                            <div class="form-group justify-content-between mb-1">
                                <label for="quantity-min">Min: &nbsp;</label>
                                <input class="form-control mr-sm-2" type="number" id="quantity-min" placeholder="Min" aria-label="Min" name="min" value="{% if request.GET.min %}{{ request.GET.min }}{% else %}{{ min }}{% endif %}" min="{{ min }}" max="{{ max }}">
                            </div>

                            <div class="form-group justify-content-between">
                                <label for="quantity-max">Max: &nbsp;</label>
                                <input class="form-control mr-sm-2" type="number" id="quantity-max" placeholder="Max" aria-label="Max" name="max" value="{% if request.GET.max %}{{ request.GET.max }}{% else %}{{ max }}{% endif %}" min="{{ min }}" max="{{ max }}">
                            </div>
                        </div>

                        <div>
                            <h5>Category:</h5>
                            <div class="form-group">
                                <input type="text" id="category-dropdown" placeholder="Select" autocomplete="off"
                                       name="category"/>
                                {#                                <select class="form-control" id="product" name="category">#}
                                {#                                    <option value="">All categories</option>#}
                                {#                                    {% for category in categories %}#}
                                {#                                        <option {% if category.id == filter_category %}#}
                                {#                                            selected {% endif %} value="{{ category.id }}">#}
                                {#                                            {{ category.name }}#}
                                {#                                        </option>#}
                                {#                                    {% endfor %}#}
                                {#                                </select>#}
                            </div>
                        </div>

                        <div>
                            <h5>Checkbox filters:</h5>
                            <div class="form-group justify-content-between mx-auto mb-1">
                                <label for="verified">Only verified items:</label>
                                <input class="form-control ml-2" type="checkbox" placeholder="Is verified"
                                       aria-label="Is verified" name="verified" id="verified"
                                       {% if request.GET.verified == 'on' %}checked="on"
                                       {% else %}chechked="off"{% endif %}>
                            </div>

                            <div class="form-group justify-content-between">
                                <label for="verified">Items with Samples:</label>
                                <input class="form-control ml-2" type="checkbox" placeholder="Has items samples"
                                       aria-label="Has items samples" name="items_samples" id="items_samples"
                                       {% if request.GET.items_samples == 'on' %}checked="on"
                                       {% else %}chechked="off"{% endif %}>
                            </div>
                        </div>

                        <div>
                            <div class="form-group ml-auto">
                                <button class="btn btn-outline-success my-2 my-sm-0 mx-2" type="submit">Search</button>
                                <a href="{% url 'item' %}" class="btn btn-outline-info my-2 my-sm-0">Reset</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-12">
                    <div>
                        <table class="table table-striped my-3">
                            <thead>
                            <tr>
                                <th scope="col">name</th>
                                <th scope="col">quantity</th>
                            </tr>
                            </thead>
                            <tbody>

                            {% for item in items %}
                                <tr>
                                    <td><a href="{% url 'profile_item' item.id %}">{{ item.name }}</a></td>
                                    <td>{% if item.quantity %}
                                        {{ item.quantity }}
                                        {% else %} −
                                    {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}

                            </tbody>
                        </table>

                        <div class="pagination">
                            {% if items.has_other_pages %}
                                <ul class="pagination">
                                    {% if items.has_previous %}
                                        <li><a href="?page={{ items.previous_page_number }}">&laquo;</a></li>
                                    {% else %}
                                        <li class="disabled"><span>&laquo;</span></li>
                                    {% endif %}
                                    {% for i in items.paginator.page_range %}
                                        {% if items.number == i %}
                                            <li class="active"><span>{{ i }} <span
                                                    class="sr-only">(current)</span></span></li>
                                        {% else %}
                                            <li><a href="?page={{ i }}">{{ i }}</a></li>
                                        {% endif %}
                                    {% endfor %}
                                    {% if items.has_next %}
                                        <li><a href="?page={{ items.next_page_number }}">&raquo;</a></li>
                                    {% else %}
                                        <li class="disabled"><span>&raquo;</span></li>
                                    {% endif %}
                                </ul>
                            {% endif %}
                        </div>

                    </div>
                </div>
            </div>
        {% else %}
            <h3 style="text-align: center; margin-top: 40px;">Sorry, you dont have access to Items</h3>
        {% endif %}
    </div>
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'dropdown/style.css' %}">
{% endblock %}

{% block js %}
    <script src="{% static 'dropdown/comboTreePlugin.js' %}" type="text/javascript"></script>
    <script>

        function loadComboTree() {

            let SampleJSONData2 =
                [{% recursetree categories %}
                    {
                        id: "{{ node.id }}",
                        title: "{{ node.name }}"{% if not node.is_leaf_node %},
                            subs: [{{ children }}]{% endif %}
                    },
                {% endrecursetree %}];


            comboTree3 = $('#category-dropdown').comboTree({
                source: SampleJSONData2,
                isMultiple: true,
                cascadeSelect: true,
                collapse: false

            });

            // comboTree3.setSource(SampleJSONData2);

        }

        loadComboTree();

    </script>
{% endblock %}
